

 .elementor-element .elementor-widget-container{
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
    .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  

  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
     
.overlay{
  position: absolute;
   z-index: 1;
   background-color: black;
   margin-top: -32rem;
   width: 100%;
   min-height: 300px;
   opacity: 0;
   transition: all 0.5s;
}
.overlay:hover{
   opacity: 0.65;
}
.overlay button:hover{
   opacity: 1;
}
.overlay button{
   margin-top: 8rem;
   margin-left: 7rem;
   background-color: black;
}


  
  
  
  }


  .elementor-element .elementor-widget-container {
    *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: Raleway;
  }

  .team{
     position: fixed;
     z-index: 999;
     top: 5%;
     border: 1px solid #d5d5d5;
     padding: 2rem;
  }
  .wrapper{
      display: flex;
      width: 100%;
      border: 1px solid #d5d5d5;
      padding: 3rem;
  }

  .img-wrapper figure{
      max-width: 100%;
  }
  .content-wrapper{
     width: 70%;
  }
  .content-wrapper h2{
      font-weight: bold;
  }
  .content-wrapper h2,.content-wrapper p{
     padding: 0 2rem;
  }
  .content-wrapper article p{
  line-height: 35px;
  font-size: 1.2rem;
  padding: 2rem;
  }
  .content-wrapper span a{
     color: #000;
     padding: 2rem;
     font-size: 2rem;
  }
  .content-wrapper span a i{
      margin-top: 1rem;
  }

  @media only screen and (max-width: 990px) {
     .wrapper{
         display: block;
     }
  }

  .content-wrapper aside.tAs{
     padding: 0 2rem;
     margin:0 2rem;
     border-bottom: 1px solid#d5d5d5d5;
  }

  @media only screen and (max-width: 1300px) and (min-width: 767px){
      .img-wrapper figure img{
         width: 100%;
         height: 85%;
         max-width: 100%;
      }
     .content-wrapper article p{
         line-height: 30px;
         font-size: 1.15rem;
     }
     .content-wrapper{
         width: 100%;
     }
  }
  }